<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="BoardMapper">
	<!-- 데이터 삽입 -->
	<insert id="create">
		insert into board (title, contents, name)
		values( #{title}, #{contents}, #{name})
	</insert>
	
	<!-- 행 검색 -->
	<select id="read" resultType="kr.co.web.domain.BoardVO">
		select *
		from board
		where board_number = #{board_number}
	</select>
	<!-- 행 수정 -->
	<update id="update">
		update board
		set title = #{title}, contents = #{contents}
		where board_number = #{board_number}
	</update>
	<!-- 행 삭제 -->
	<delete id="delete">
		delete from board where board_number = #{board_number}
	</delete>
	<!-- board 전체 행 조회 -->
	<select id="listAll" resultType="kr.co.web.domain.BoardVO">
		select *
		from board
		order by board_number desc, create_date desc
	</select>
	<!-- bno 최대 구하기 -->
	<select id="getMaxBno" resultType="Integer">
		select max(board_number) from board
	</select>	
</mapper>